<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IniDesakuBeta"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCv6-lzxdg71WR5VS3oy1IrYEeJsJpEVpM" />

        <activity
            android:name=".ui.bantuan.BantuanActivity"
            android:exported="false"
            android:label="@string/title_activity_bantuan"
            android:theme="@style/Theme.IniDesakuBeta" />
        <activity
            android:name=".ui.donasi.detail.DonasiSelesaiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pesona.DetailPotensiFisikActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pesona.DetailBudayaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pesona.DetailWisataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.UbahFotoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pesona.DetailBeritaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.beranda.CariDesaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pesona.PesonaDesaActivity"
            android:exported="false"
            android:label="@string/title_activity_pesona_desa"
            android:theme="@style/Theme.IniDesakuBeta.NoActionBar" />
        <activity
            android:name=".ui.pengaturanPin.PengaturanPinActivity"
            android:exported="false"
            android:label="@string/title_activity_pengaturan_pin"
            android:theme="@style/Theme.IniDesakuBeta" />
        <activity
            android:name=".ui.ppob.lainnya.indihome.IndihomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ppob.lainnya.telkom.TelkomActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ppob.listrikAir.pdam.PdamActivity"
            android:exported="false" />
        <activity
            android:name=".ui.konfirmasi.KonfirmasiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.desa.pelayanan_desa.detail.DetailPelayananDesaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.produk_unggulan.detail.DetailProdukUnggulanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.produk_unggulan.list.ProdukUnggulanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.desa.pelayanan_desa.list.PelayananDesaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.desa.kegiatan_desa.KegiatanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.donasi.list.DonasiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.donasi.detail.DetailDonasiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pasar_desa.DetailProdukActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pasar_desa.KeranjangActivity"
            android:exported="false" />
        <activity
            android:name=".ui.history.RiwayatTransaksiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pasar_desa.PasarDesaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.geografi.geotagging.GeotaggingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.sign.signUp.CompleteProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.customView.EditButton"
            android:exported="false" />
        <activity
            android:name=".ui.sign.signUp.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pilihWilayah.PilihWilayahActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tvcc.TvccActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ppob.bpjs.BpjsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ppob.listrikAir.ListrikAirActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ppob.pulsa.PulsaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>